/*Geral*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #12121e;
    position: relative;
}

li a {
    color: #9f47f1;
    text-decoration: none;
}

#btn {
    text-align: center;
    margin-top: .5rem;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    background-color: #9f47f1;
    color: white;
    font-size: 18px;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    cursor: pointer;
}


/*Conteudo do cabeçalho e menu*/
.header-principal {
    background-color: #12121e;
    width: 100%;
    height: auto;
}
.header-my-name_my-img {
    color: white;
    display: flex;
}

.titulo-page-myname {
    
    color: #9f47f1;
    font-size: 20px;
    font-weight: 200px;
    margin-top: 10rem;
    text-align: center;
    margin: auto;
}
.titulo-page-myname h4 {
    color: white;
    font-size: 18px;
    font-weight: 200;
}
.my-img img{  
    width: 250px;
    height: 250px;
}
.my-img{  
    margin-top: 5rem;
    margin-right: auto;
}


.nav-bar {
    background-color: #12121e;
    width: 100%;
    text-align: center;
}
.nav-bar a::after{
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #9f47f1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list-nav-bar { 
    margin-left: auto;
    padding: .5rem;
    color: #9f47f1;
    font-weight: 200;
    position: relative;
}


.li-nav-bar {
    font-size: 20px;
    
    margin-right: 5%;
    list-style: none;
    display:inline-block;
}

.li-nav-bar:hover {
    transform: scale(1.25,1.25);
    color: white;
}

/*Curriculo*/


.titulos-page-conteudos {
    color: #9f47f1;
    font-size: 18px;
    margin-top: 5rem;
    text-align: center;
}

 .container-curriculo {
    text-align: center;
    margin: auto;   
  }

 .conteudo-sobremim{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 900px;
    font-size: 16px;
    margin-top: 2rem;
    text-align: center;
 }


.h-conteudo-curriculo {
    color: #9f47f1;
    margin-left: auto;
    
    margin-top: 1.2rem;
    
}
.text-conteudo-curriculo {
    color: #999fbd;

}

/*Projetos*/
.section-projetos {
    text-align: center;
}

.boxs-cards {
    margin: 2rem;
    display: inline-block;
    background-color: #0d0d17;
    width: 310px;
    /* height: 210px; */
    border-radius: 15px;
    margin-top: 2rem;
}

.card-img {
    width: 310px;
    height: 170px;
    border-radius: 15px;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

.boxs-cards:hover {
    transform: scale(1.25,1.25);
}

.boxs-cards a{
    text-decoration: none;
    
}
.boxs-cards span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
}


/*Contatos*/



#contatos {
    margin-top: 10rem;
}

.div-contatos {
    color: #9f47f1;
    
    text-align: center;
    margin-top: 2rem;
}
.redes-contatos {
    margin: 2rem;
    text-align: center;
    display: inline-block;
}

.formulario-contato {
    color: #9f47f1;
    margin: auto;
    width: 220px;
}


form input {
    width: 230px;
}

form fieldset {
    border: 0;
    padding: .2rem;
}

form label {
    display: block;
}

.button:hover {
    background-color: #9f47f1;
}


/*Footer*/
footer {
    margin-top: 10rem;
    width: 100%;
    height: 80px;
    background-color: #12121e;
    color: white;
    text-align: center;
}

#p-footer {
    padding: 2rem;
}

.button:hover {
    background-color: #9f47f1;
}

/*Classes vindas e scripts*/
.invalid {
    border: 2px solid red;
}

/*____________ Media - Querys    ____________*/

@media (max-width:950px) {
    .conteudo-sobremim {
        width: 600px;
    }
}

@media (max-width:650px) {
    .conteudo-sobremim {
        width: 450px;
        font-size: 18px;
    }

    .header-my-name_my-img {
        display: block;
        text-align: center;
    }

    .titulo-page-myname {
        margin-top: 1.5rem;
    }
}

@media (max-width:480px) {
    .conteudo-sobremim {
        width: 330px;
    }

    .titulo-page-myname h1{
        font-size: 40px;
    }
    .titulo-page-myname h4{
        font-size: 20px;
    }

    .my-img img{  
        width: 300px;
        height: 300px;
    }
}